{%extends 'base.html'%}
{% load static  %}
{% block head %}
<link rel="stylesheet" href="{%static 'ishop.css' %}" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock%}
{% block content%}


<div class="tools">
  <div class="settings">
    <a href="{% url 'cart' %}" ><button >Add new Pet</button></a>
    <button id="view">Switch View</button>
  </div>
</div>
<div class="products products-table">
  {% for x in objs %}
  <div class="product">
    <div class="product-img">
      <img src="{{x.pet_pic.url}}">
    </div>
    <div class="product-content">
      <h3>
        {{x.pet_name}}
        <small>{{x.description}}</small>
      </h3>
      <p class="product-text price">{{x.type}}</p>
      <p class="product-text price">{{x.breed}}</p>
      <p class="product-text genre">Colour: {{x.color}}</p>
      <a href="{% url 'tracker'%}" ><button>view details</button></a>
    </div>
  </div>


  {% endfor %}
{% if messages %}
{% endif %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="{%static 'jquery-3.6.0.js' %}"></script>
  <script src="{%static 'ishop.js' %}">
  </script>
  </body>

  {% endblock %}
